body {
    overflow: hidden;
    background-color: hsl(30, 38%, 92%);
    font-family: "Montserrat", serif;
}
p {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 27px;
    margin: 0;
    padding: 0;
}
.perfume {
    font-size: 14px;
    letter-spacing: 1.7px;
}
h2 {
    font-family: 'Fraunces', serif;
    font-size: 35px;
}
.main-container {
    background-color: hsl(30, 38%, 92%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-container {
    display: flex;
    background-color: #fff;
    width: 750px;
    height: 500px;
    border-radius: 15px;
}
.img-1 {
   width: 50%;
   height: 100%;
   border-radius: 15px 0 0 15px;
}
.img-1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.cta-text {
    width: 50%;
    padding: 40px;
    max-width: 400px;
    box-sizing: border-box;
    
}
.cart-btn {
    display: inline-flex;
    height: 50px;
    padding: 0;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Quickssand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    background-color: #009e60;
    padding: 0 85px;
    margin-bottom: 10px;
    width: 100%;
}
.cart-btn:hover {
    background-color: #006241;
}
.cart-btn:active {
    background-color: #004526;
}
.button__text, .button__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    color: #fff;
    height: 100%;
}
.button__icon {
    font-size: 1.5em;
}
.prices {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Fraunces', serif;
}
.main-price {
    font-size: 35px;
    font-weight: 800;
    color: #009e60;
}
.past-price {
    font-size: smaller;
    display: flex;
    align-items: center;
    margin-right: 100px;
    text-decoration: line-through;
}
